In [1]:
import os
import sys
from dotenv import load_dotenv
from okx_api.client import OKXClient
from okx_api.market_data import MarketDataRetriever

load_dotenv()

True

In [2]:
client = OKXClient(
    api_key=os.getenv("OK-ACCESS-KEY"),
    api_secret=os.getenv("OK-ACCESS-SECRET"),
    passphrase=os.getenv("OK-ACCESS-PASSPHRASE")
)

In [4]:
# Initialize market data retriever
market_data = MarketDataRetriever(client)

# Get all spot tickers
tickers = market_data.get_all_tickers('SWAP')

# Get specific ticker
btc_ticker = market_data.get_ticker_by_symbol('BNB-USDT-SWAP')

# Get order book
order_book = market_data.get_order_book('BNB-USDT-SWAP', sz=10)

# Get kline data
klines = market_data.get_kline('BNB-USDT-SWAP', bar='1m', limit=100)

# Get kline data with MA
klines_ma = market_data.get_kline_with_ma('BNB-USDT-SWAP', bar='1m', limit=100, ma_periods=[5, 20, 60, 200])

In [10]:
for ticker in tickers:
    if "BNB" in ticker.instId:
        print(ticker.instId)

BNB-USDT-SWAP

In [6]:
klines_ma

,timestamp,open,high,low,close,volume,volume_currency,MA_5,MA_20,MA_60
0,2025-10-07 05:05:00,1242.5,1242.6,1241.2,1242.1,101549.0,1015.49,NaN,NaN,NaN
1,2025-10-07 05:06:00,1242.2,1242.8,1241.5,1241.5,34616.0,346.16,NaN,NaN,NaN
2,2025-10-07 05:07:00,1241.5,1242.4,1240.8,1242.1,58764.0,587.64,NaN,NaN,NaN
3,2025-10-07 05:08:00,1242.2,1244.0,1242.1,1243.5,108439.0,1084.39,NaN,NaN,NaN
4,2025-10-07 05:09:00,1243.4,1243.7,1240.3,1240.9,231782.0,2317.82,1242.02,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
95,2025-10-07 06:40:00,1249.2,1249.2,1247.4,1247.4,30267.0,302.67,1248.86,1248.720,1253.135000
96,2025-10-07 06:41:00,1247.4,1248.3,1246.9,1247.5,37645.0,376.45,1248.58,1248.550,1253.036667
97,2025-10-07 06:42:00,1247.5,1248.0,1246.3,1247.6,55635.0,556.35,1248.26,1248.435,1252.930000
98,2025-10-07 06:43:00,1247.7,1248.4,1246.8,1247.1,27774.0,277.74,1247.78,1248.280,1252.785000
99,2025-10-07 06:44:00,1247.1,1247.1,1246.9,1246.9,3130.0,31.30,1247.30,1248.215,1252.603333